[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.9.1"
pelican-jinja2content = "==1.0.*"
Markdown = "==3.3.*"
typographeur = { git = "https://github.com/mlcdf/typographeur.git" }
livereload = "==2.6.3"

[dev-packages]

[scripts]
dev = "python ./scripts/dev.py"
publish = "env SITEURL=https://www.mlcdf.fr pelican --settings publishconf.py --delete-output-directory"
preview = "env PREVIEW=True pelican --settings publishconf.py --delete-output-directory --listen --autoreload"
clean = "rm -rf ./cache ./output"
deploy = 'sshpass -p "$OVH_HOSTING_PASSWORD" rsync -av -e "ssh -o StrictHostKeyChecking=no" output/ $OVH_HOSTING_USER@$OVH_HOSTING_DOMAIN:/home/$OVH_HOSTING_USER/$SUBDOMAIN'